#top-bar {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 80%;
  margin-top: 30px;
}

.help-inline {
  text-align: right;
  font-size: 18px;
  border-radius: 100px;
  border: 2px white solid;
  width: 23px;
  height: 23px;
  display: inline-block;
  line-height: 23px;
  text-align: center;
}

.help {
  text-align: right;
  font-size: 18px;
  border-radius: 100px;
  border: 2px #18093e solid;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-popover-container {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  background: #fff;
  padding-top: 20px;
  border-top: 1px #f4f4f4 solid;
}

.continue-popover {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50px;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 900;
  width: 143px;
  padding: 12px 0;
  margin-bottom: 20px;
}

#popover,
#welcome-popover {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  background-color: white;
  height: 400px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 14px;
}

.popover {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 200px);
  width: 400px;
  background-color: white;
  height: 500px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 14px;
}

.reset-popover {
  text-align: center;
  width: 400px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  background-color: white;
  border-radius: 14px;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reset-popover__buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.reset-popover__yes,
.reset-popover__no {
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.reset-popover__yes {
  background-color: rgb(251, 196, 254);
}

.reset-popover__no {
  color: white;
  background-color: #18093e;
}

.settings-menu {
  position: absolute;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100%;
  background-color: #18093e;
  color: white;
  transition: right 0.5s ease-in-out;
}

.settings-menu__heading,
.settings-menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
}

.settings-menu__heading {
  font-size: 16px;
  font-weight: 600;
  height: 71px;
  border-bottom: 1px #a8a2b7 solid;
}

.settings-menu__item {
  font-size: 14px;
  height: 56px;
  cursor: pointer;
}

.settings-menu__icon {
  display: flex;
}

.settings-menu__heading .settings-menu__icon {
  cursor: pointer;
}

.settings-menu__option .settings-menu__icon {
  transform: scale(0.9);
}

#today-popover {
  display: none;
}

.first-character-popover {
  position: absolute;
  top: 110px;
  left: 25%;
  width: 50%;
  display: none;
  background-color: #754fe3;
  color: white;
  font-size: 15px;
  max-width: 500px;
}

.first-character-popover::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0;
  bottom: auto;
  border: 20px solid;
  border-color: #754fe3 transparent transparent transparent;
}

.type-your-answer-popover {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 100px);
  width: 170px;
  background-color: #754fe3;
  color: white;
  font-size: 15px;
  height: 90px;
  padding: 15px;
  display: none;
}

.type-your-answer-popover::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #754fe3 transparent;
  display: block;
  width: 0;
  bottom: -12px;
  left: 85px;
}

.new-items-input {
  width: 90px;
  border-bottom: 1px solid #fbc8fe;
  text-align: center;
  font-size: 90px;
}

.popover-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popover-content-text {
  text-align: center;
  width: 230px;
}

#popover {
  display: none;
}

#welcome-popover {
  display: block;
}

#popover-background {
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.popover-content {
  padding: 10px 40px 20px 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.shortcut-title {
  font-size: 15px;
  font-weight: 600;
  height: 55px;
  border-bottom: 1px #f4f4f4 solid;
  line-height: 55px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.chart-title {
  font-size: 15px;
  font-weight: 600;
  height: 55px;
  border-bottom: 1px #f4f4f4 solid;
  line-height: 55px;
  text-align: center;
  width: 100%;
  background-color: #fff;
}

.popover-content {
  padding: 31px 35px;
  overflow-y: auto;
  height: calc(100% - 137px);
  margin-top: 55px;
}

.shortcut-border {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 13px;
  font-size: 14px;
  background-color: #f4f4f4;
  color: #5b5b5b;
  font-weight: 300;
  margin: 0 6px;
  font-family: "Noto Sans SC", sans-serif !important;
}

.shortcut-product {
  color: #18093e;
  font-size: 17px;
  margin: 0 6px 0 0;
  font-family: "Noto Sans SC", sans-serif !important;
}

.shortcut {
  margin: 19px 0;
}

.popover-close {
  position: absolute;
  top: 6px;
  right: 16px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

#input-see {
  z-index: 0;
}

.welcome-character {
  margin: 24px 0 34px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr) 10px
    minmax(0, 1fr);
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.today-character-card {
  border: 1px solid rgb(241, 240, 244);
  -webkit-box-shadow: 2px 2px rgb(241, 240, 244);
  box-shadow: 2px 2px rgb(241, 240, 244);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.today-popover-content {
  padding: 0px 35px;
  overflow-y: auto;
  height: calc(100% - 139px);
  margin-top: 55px;
}

#chart-popover {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: white;
  height: calc(100% - 71px);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  border-radius: 14px 14px 0 0;
  transition: all;
  animation: --slide-in ease-in 0.3s;
  animation-fill-mode: forwards;
}

@keyframes --slide-in {
  from {
    opacity: 0;
    top: 121px;
  }

  to {
    opacity: 1;
    top: 71px;
  }
}

#chart-popover {
  display: none;
}

#chart-close {
  position: absolute;
  top: 6px;
  right: 16px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.welcome-character {
  margin: 24px 0 34px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr) 10px
    minmax(0, 1fr);
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.chart-popover-content {
  padding: 41px 0;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100% - 55px);
}

/*
  @media only screen and (max-height: 550px) and (min-width: 500px) {
  
      .welcome-popover-content {
          width: 60%;
          align-self: center;
      }
  }
  */

@media only screen and (max-height: 550px) {
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: 0;
  }

  .popover-content {
    padding: 20px;
  }

  .first-character-popover {
    left: 21px;
    width: 62%;
  }
}

@media only screen and (max-width: 500px) {
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: 0;
  }

  #chart-popover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    border-radius: 0;
    transition: all;
    animation: --slide-in-mob ease-in 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes --slide-in-mob {
    from {
      opacity: 0;
      top: 50px;
    }

    to {
      opacity: 1;
      top: 0;
    }
  }

  .welcome-popover-content {
    padding: 20px;
  }

  .first-character-popover {
    left: 21px;
    width: 62%;
  }

  .reset-popover {
    left: calc(50% - 100px);
    width: 200px;
    padding: 0 25px;
  }

  .reset-popover__content {
    font-size: 14px;
  }

  .reset-popover__buttons {
    justify-content: space-between;
  }

  .reset-popover__yes,
  .reset-popover__no {
    width: 65px;
  }
}

@media only screen and (max-width: 400px) {
  .shortcut-border {
    font-size: 12px;
    margin: 0 4px;
  }

  .shortcut-product {
    margin: 0 4px 0 0;
  }

  .popover-content {
    padding: 0px 10px 10px 10px;
  }
}
